<!DOCTYPE html>
<html>
<head>
    <title>UNO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container" style="text-align: center;">
        <h1 style="font-size: 60px;">UNO</h1>
    <div class="auto-refresh">--------------------------------------------</div>
        <a href="/rule" role="button">Rules</a>
    <div class="auto-refresh">--------------------------------------------</div>
        <a href="/lobby" role="button">Create or Join Game</a>
        <a href="/leaderboard" role="button">Leaderboard</a>
    </main>
</body>
</html>